@model IEnumerable<voetbalcrud.Models.Setup>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AmountDefend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountAttack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountMidfield)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountKeep)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountDefend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountAttack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountMidfield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountKeep)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
</body>
</html>
