@model voetbalcrud.Models.MvcCrudEntities1
@{
    ViewBag.Title = "Teams";
}
<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/site.js"></script>

</head>
<h2>Maak je eigen teams</h2>


<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    @*Stap 1 - Aantal spelers vragen*@
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="Aantal spelers" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Stap 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-folder-open"></i>

                                </span>
                            </a>
                        </li>
                        @*Stap 2 - Spelernamen doorgeven uit database*@
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Stap 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </li>
                        @*Stap 3 - Vragen hoeveel spelers per positie*@
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Stap 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </a>
                        </li>
                        @*Stap 4 - Uitrekenen*@
                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <form method="post">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h3>Stap 1</h3>
                            <p>Kies aantal spelers</p>
                            @Html.ValidationSummary()
                            <div>
                                <label for="AantalSpelers">Aantal spelers: </label>
                                <input id="AantalSpelers"
                                       type="text"
                                       name="AantalSpelers"
                                       value="@Request["AantalSpelers"]" />
                                @Html.ValidationMessage("AantalSpelers")
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step">Volgende</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h3>Stap 2</h3>
                            <ul class="list-inline pull-right">
                                <div id="playerinputcontainer"></div>


                                <label id="GetNameList">Speler 1</label>
                                <div class="input_fields_container">

                                    @Html.DropDownList("getNameList", ViewBag.PlayerNameList as SelectList, "Selecteer een speler")
                                    @Html.ValidationMessage("coursename")


                                    <li><button type="button" class="btn btn-default prev-step">Vorige</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Volgende</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3>Stap 3</h3>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Vorige</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Berekenen</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Compleet</h3>
                            <p>We gaan nu teams verdelen</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@*Javascript voor tabs*@
<script>
    $(document).ready(function () {
        //Initialize tooltips
        $('.nav-tabs > li a[title]').tooltip();

        //Wizard
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            var $target = $(e.target);

            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $("#AantalSpelers").change(function () {
            CreateEditPlayers(this);
        });
    });

    function CreateEditPlayers(obj) {
        var aantal = $(obj).val();
        $("#playerinputcontainer").empty();
        $("#playerinputcontainer").append('<table>');

        $("#playerinputcontainer").append('<tr><th>Speler</th><th>Naam</th></tr>');

        for (var i = 0; i < aantal; i++) {
            $("#playerinputcontainer").append('Speler ' + (i + 1));
            $("#playerinputcontainer").append("<input type=text></input>");
        }
        $("#playerinputcontainer").append('</table>');


    }

    $(".next-step").click(function (e) {
        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');
        nextTab($active);
    });

    $(".prev-step").click(function (e) {
        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }

    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }
</script>
