@model IEnumerable<voetbalcrud.Models.Player>

@{
    ViewBag.Title = "Spelers";
}

<h2>Spelers</h2>

<p>
    @Html.ActionLink("Maak nieuwe speler aan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
       
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td> 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}
</table>

<ul class="list-inline pull-right">
    <li><button type="button" class="btn btn-primary next-step">Volgende</button></li>
</ul>
<script>
    $(document).ready(function () {
        //Initialize tooltips
        $('.nav-tabs > li a[title]').tooltip();

        //Wizard
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            var $target = $(e.target);

            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $("#AantalSpelers").change(function () {
            CreateEditPlayers(this);
        });
    });

    function CreateEditPlayers(obj) {
        var aantal = $(obj).val();
        $("#playerinputcontainer").empty();
        $("#playerinputcontainer").append('<table>');

        $("#playerinputcontainer").append('<tr><th>Speler</th><th>Naam</th></tr>');

        for (var i = 0; i < aantal; i++) {
            $("#playerinputcontainer").append('Speler ' + (i + 1));
            $("#playerinputcontainer").append("<input type=text></input>");
        }
        $("#playerinputcontainer").append('</table>');


    }

    $(".next-step").click(function (e) {
        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');
        nextTab($active);
    });

    $(".prev-step").click(function (e) {
        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }

    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }
</script>

