@model voetbalcrud.Models.Player

@{
    ViewBag.Title = "Edit";

}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Player</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PlayerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlayerName, "", new { @class = "text-danger" })
            </div>
        </div>
        @Model.PlayerName

  

<<<<<<< HEAD
        @Html.HiddenFor(model => model.ID)
=======
        @*@Html.HiddenFor(model => model.ID)*@
>>>>>>> otherbranch

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="Edit" value="Save" class="form-control"/>
                @*@Html.ActionLink("Edit", "EditPlayer", "PlayerList", new
           {
               id = Model.ID,
               name = Model.PlayerName,
               keep = Model.Keep,
               midfield = Model.Midfield,
               attack = Model.Attack,
               defend = Model.Defend
           }, new { @class = "btn btn-primary" })*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "PlayerListIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
